<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamalphano.zombieboom.mapper.character.CharacterMapper">
    <select id="getCharDataList" parameterType="int" resultType="com.teamalphano.zombieboom.model.character.CharacterData">
        SELECT
            charact.char_no ,
            charact.item_no ,
            charact.spine_model_key ,
            charact.costume_key ,
            charact.color_eyes ,
            charact.color_body ,
            charact.color_etc ,
            item.item_name ,
            item.item_img_key
        FROM
            tb_char_data charact
        Inner Join
            tb_item item
            on charact.item_no = item.item_no
        WHERE
            charact.char_no = #{charNo};
    </select>
</mapper>