<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamalphano.zombieboom.mapper.rank.RankMapper">
    <select id="getWorldTotalRankList" resultType="com.teamalphano.zombieboom.dto.rank.RankDto">
       WITH RankedRanks AS (
        SELECT
            ran.rank_no,
            ran.user_no,
            ran.rank_value,
            ran.create_date,
            user.user_id,
            user.user_name,
            ROW_NUMBER() OVER (
                PARTITION BY ran.user_no
                ORDER BY ran.rank_value DESC
            ) AS row_num
        FROM
            tb_rank AS ran
        INNER JOIN
            tb_user_info AS user
            ON user.user_no = ran.user_no
            WHERE user.del_yn = false
    ),
    TopRanks AS (
        SELECT
            ROW_NUMBER() OVER (
                ORDER BY rank_value DESC
            ) AS ranking,
            rank_no,
            user_no,
            rank_value,
            create_date,
            user_id,
            user_name
        FROM
            RankedRanks
        WHERE
            row_num = 1
        LIMIT 50
    )
    SELECT
        rank_no,
        user_no,
        rank_value,
        create_date,
        user_id,
        user_name,
        ranking
    FROM
        TopRanks
    ORDER BY
        ranking ASC;
    </select>

    <select id="getWorldMonthRankList" resultType="com.teamalphano.zombieboom.dto.rank.RankDto">
       WITH RankedRanks AS (
        SELECT
            ran.rank_no,
            ran.user_no,
            ran.rank_value,
            ran.create_date,
            user.user_id,
            user.user_name,
            ROW_NUMBER() OVER (
                PARTITION BY ran.user_no
                ORDER BY ran.rank_value DESC
            ) AS row_num
        FROM
            tb_rank AS ran
        INNER JOIN
            tb_user_info AS user
            ON user.user_no = ran.user_no
        WHERE
            (
                CASE
                    WHEN DAY(CURDATE()) = 1 THEN
                        ran.create_date BETWEEN
                            DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 05:00:00') AND
                            DATE_FORMAT(CURDATE(), '%Y-%m-%d 04:59:59')
                    ELSE
                        ran.create_date BETWEEN
                            CONCAT(DATE_FORMAT(CURDATE(), '%Y-%m-01'), ' 05:00:00') AND
                            DATE_FORMAT(DATE_ADD(LAST_DAY(CURDATE()), INTERVAL 1 DAY), '%Y-%m-%d 04:59:59')
                END
            )
            AND user.del_yn = false
    ),
    FinalRanks AS (
        SELECT
            rank_no,
            user_no,
            rank_value,
            create_date,
            user_id,
            user_name,
            ROW_NUMBER() OVER (
                ORDER BY rank_value DESC
            ) AS ranking
        FROM
            RankedRanks
        WHERE
            row_num = 1
    )
    SELECT
        rank_no,
        user_no,
        rank_value,
        create_date,
        user_id,
        user_name,
        ranking
    FROM
        FinalRanks
    LIMIT 50;
    </select>

    <select id="getWorldDayRankList" resultType="com.teamalphano.zombieboom.dto.rank.RankDto">
       WITH RankedRanks AS (
        SELECT
            ran.rank_no,
            ran.user_no,
            ran.rank_value,
            ran.create_date,
            user.user_id,
            user.user_name,
            ROW_NUMBER() OVER (
                PARTITION BY ran.user_no
                ORDER BY ran.rank_value DESC
            ) AS row_num
        FROM
            tb_rank AS ran
        INNER JOIN
            tb_user_info AS user
            ON user.user_no = ran.user_no
            AND user.del_yn = false
        WHERE
            ran.create_date BETWEEN CONCAT(DATE_FORMAT(CURDATE(), '%Y-%m-%d'), ' 05:00:00')
                                AND CONCAT(DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d'), ' 04:59:59')
    ),
    TopRanks AS (
        SELECT
            ROW_NUMBER() OVER (
                ORDER BY rank_value DESC
            ) AS ranking,
            rank_no,
            user_no,
            rank_value,
            create_date,
            user_id,
            user_name
        FROM
            RankedRanks
        WHERE
            row_num = 1
        LIMIT 50
    )
    SELECT
        t.rank_no,
        t.user_no,
        t.rank_value,
        t.create_date,
        t.user_id,
        t.user_name,
        t.ranking
    FROM
        TopRanks t
    ORDER BY
        t.ranking ASC;
    </select>

    <insert id="insertRank" parameterType="com.teamalphano.zombieboom.dto.rank.RankInsertDto">
        INSERT INTO tb_rank (user_no, rank_value, create_date)
        VALUES (
            #{userNo},
            #{rankValue},
            CASE
                WHEN HOUR(NOW()) >= 5 THEN DATE(NOW())
                ELSE DATE(DATE_SUB(NOW(), INTERVAL 1 DAY))
            END
        )
        ON DUPLICATE KEY UPDATE
            rank_value =
            CASE
                WHEN rank_value &lt; #{rankValue} THEN #{rankValue}
            ELSE rank_value
        END;
    </insert>

    <select id="getMyRankTotal" parameterType="Integer" resultType="com.teamalphano.zombieboom.dto.rank.RankDto">
        WITH RankedRanks AS (
            SELECT
                ran.rank_no,
                ran.user_no,
                ran.rank_value,
                ran.create_date,
                user.user_id,
                user.user_name,
                ROW_NUMBER() OVER (
                    PARTITION BY ran.user_no
                    ORDER BY ran.rank_value DESC
                ) AS row_num
            FROM
                tb_rank AS ran
            INNER JOIN
                tb_user_info AS user
                ON user.user_no = ran.user_no
                AND user.del_yn = false
        ),
        TopRanks AS (
            SELECT
                ROW_NUMBER() OVER (
                    ORDER BY rank_value DESC
                ) AS ranking,
                rank_no,
                user_no,
                rank_value,
                create_date,
                user_id,
                user_name
            FROM
                RankedRanks
            WHERE
                row_num = 1
            LIMIT 50
        ),
        UserSpecificRank AS (
            SELECT
                rank_no,
                user_no,
                rank_value,
                create_date,
                user_id,
                user_name,
                ROW_NUMBER() OVER (
                    ORDER BY rank_value DESC
                ) AS ranking
            FROM
                RankedRanks
            WHERE
                user_no = #{userNo}
        )
        SELECT
            rank_no,
            user_no,
            rank_value,
            create_date,
            user_id,
            user_name,
            CASE
                WHEN user_no IN (SELECT user_no FROM TopRanks) THEN (SELECT ranking FROM TopRanks WHERE user_no = #{userNo})
                ELSE '-'
            END AS ranking
        FROM
            UserSpecificRank
        WHERE
            rank_value = (SELECT MAX(rank_value) FROM UserSpecificRank)
        LIMIT 1;
    </select>

    <select id="getMyRankMonth" parameterType="Integer" resultType="com.teamalphano.zombieboom.dto.rank.RankDto">
        WITH RankedRanks AS (
            SELECT
                ran.rank_no,
                ran.user_no,
                ran.rank_value,
                ran.create_date,
                user.user_id,
                user.user_name,
                ROW_NUMBER() OVER (
                    PARTITION BY ran.user_no
                    ORDER BY ran.rank_value DESC
                ) AS row_num
            FROM
                tb_rank AS ran
            INNER JOIN
                tb_user_info AS user
                ON user.user_no = ran.user_no
            WHERE
                (
                    CASE
                        WHEN DAY(CURDATE()) = 1 THEN
                            ran.create_date BETWEEN
                                DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 05:00:00') AND
                                DATE_FORMAT(CURDATE(), '%Y-%m-%d 04:59:59')
                        ELSE
                            ran.create_date BETWEEN
                                CONCAT(DATE_FORMAT(CURDATE(), '%Y-%m-01'), ' 05:00:00') AND
                                DATE_FORMAT(DATE_ADD(LAST_DAY(CURDATE()), INTERVAL 1 DAY), '%Y-%m-%d 04:59:59')
                    END
                )
                AND user.del_yn = false
        ),
        TopRanks AS (
            SELECT
                ROW_NUMBER() OVER (
                    ORDER BY rank_value DESC
                ) AS ranking,
                rank_no,
                user_no,
                rank_value,
                create_date,
                user_id,
                user_name
            FROM
                RankedRanks
            WHERE
                row_num = 1
            LIMIT 50
        ),
        UserSpecificRank AS (
            SELECT
                rank_no,
                user_no,
                rank_value,
                create_date,
                user_id,
                user_name,
                ROW_NUMBER() OVER (
                    ORDER BY rank_value DESC
                ) AS ranking
            FROM
                RankedRanks
            WHERE
                user_no = #{userNo}
        )
        SELECT
            COALESCE(t.rank_no, u.rank_no) AS rank_no,
            COALESCE(t.user_no, u.user_no) AS user_no,
            COALESCE(t.rank_value, u.rank_value) AS rank_value,
            COALESCE(t.create_date, u.create_date) AS create_date,
            COALESCE(t.user_id, u.user_id) AS user_id,
            COALESCE(t.user_name, u.user_name) AS user_name,
            CASE
                WHEN t.user_no IS NOT NULL THEN t.ranking
                ELSE '-'
            END AS ranking
        FROM
            TopRanks t
        LEFT JOIN
            UserSpecificRank u
            ON t.user_no = u.user_no
        UNION ALL
        SELECT
            u.rank_no,
            u.user_no,
            u.rank_value,
            u.create_date,
            u.user_id,
            u.user_name,
            '-'
        FROM
            UserSpecificRank u
        WHERE
            u.user_no NOT IN (SELECT user_no FROM TopRanks)
        ORDER BY
            rank_value DESC
        LIMIT 1;
    </select>

    <select id="getMyRankDay" parameterType="Integer" resultType="com.teamalphano.zombieboom.dto.rank.RankDto">
        WITH RankedRanks AS (
            SELECT
                ran.rank_no,
                ran.user_no,
                ran.rank_value,
                ran.create_date,
                user.user_id,
                user.user_name,
                ROW_NUMBER() OVER (
                    PARTITION BY ran.user_no
                    ORDER BY ran.rank_value DESC
                ) AS row_num
            FROM
                tb_rank AS ran
            INNER JOIN
                tb_user_info AS user
                ON user.user_no = ran.user_no
            WHERE
                (
                    CASE
                        WHEN HOUR(NOW()) &lt; 5 THEN
                        ran.create_date BETWEEN
                        CONCAT(DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d'), ' 05:00:00') AND
                        CONCAT(DATE_FORMAT(CURDATE(), '%Y-%m-%d'), ' 04:59:59')
                    ELSE
                        ran.create_date BETWEEN
                        CONCAT(DATE_FORMAT(CURDATE(), '%Y-%m-%d'), ' 05:00:00') AND
                        CONCAT(DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d'), ' 04:59:59')
                    END
                )
                AND user.del_yn = false
            ),
            TopRanks AS (
                SELECT
                    ROW_NUMBER() OVER (
                    ORDER BY rank_value DESC
                    ) AS ranking,
                    rank_no,
                    user_no,
                    rank_value,
                    create_date,
                    user_id,
                    user_name
                FROM
                    RankedRanks
                LIMIT 50
                ),
            UserSpecificRank AS (
                SELECT
                    rank_no,
                    user_no,
                    rank_value,
                    create_date,
                    user_id,
                    user_name,
                    ROW_NUMBER() OVER (
                        ORDER BY rank_value DESC
                    ) AS ranking
                FROM
                    RankedRanks
                WHERE
                    user_no = #{userNo}
            )
                SELECT
                    rank_no,
                    user_no,
                    rank_value,
                    create_date,
                    user_id,
                    user_name,
                    ranking
                FROM (
                    SELECT
                        TopRanks.rank_no,
                        TopRanks.user_no,
                        TopRanks.rank_value,
                        TopRanks.create_date,
                        TopRanks.user_id,
                        TopRanks.user_name,
                        TopRanks.ranking
                    FROM
                        TopRanks
                    UNION ALL
                    SELECT
                        UserSpecificRank.rank_no,
                        UserSpecificRank.user_no,
                        UserSpecificRank.rank_value,
                        UserSpecificRank.create_date,
                        UserSpecificRank.user_id,
                        UserSpecificRank.user_name,
                    CASE
                        WHEN UserSpecificRank.ranking &lt;= 50 THEN UserSpecificRank.ranking
                    ELSE '-'
                        END AS ranking
                    FROM
                        UserSpecificRank
                    WHERE
                        UserSpecificRank.ranking > 50
                    ) AS CombinedRanks
                ORDER BY
                ranking ASC
            LIMIT 1;
    </select>
</mapper>