<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teamalphano.zombieboom.mapper.user.UserDataMapper">

    <update id="updateUserDataAfterPurchase" parameterType="com.teamalphano.zombieboom.dto.user.UserBuyDto">
        UPDATE  tb_user_data data
        <set>
            <if test="ticket != null and ticket !=0">
                data.user_ticket = #{ticket},
            </if>
            <if test="coin != null and coin !=0 ">
                data.user_money = #{coin},
            </if>
            <if test="charList != null and charList != ''">
                data.user_char_list = #{charList},
            </if>
            <if test="userTickerTimer != null and userTickerTimer != ''">
                data.user_ticket_timer = #{ticketTime}
            </if>
        </set>
        WHERE data.user_no = #{userNo}
    </update>

    <select id="getUserData" parameterType="Integer" resultType="com.teamalphano.zombieboom.model.user.UserData">
        SELECT
            data.user_no,
            data.user_money,
            data.user_ticket,
            data.user_ticket_timer,
            data.user_char_list
        FROM
            tb_user_data data
        WHERE
            data.user_no = #{userNo}
    </select>

    <update id="updateUserData" parameterType="com.teamalphano.zombieboom.dto.user.UpdateUserDataDto">
        UPDATE
            tb_user_data data
        SET
        <trim suffixOverrides=",">
            <if test="userTicket != null">
                data.user_ticket = #{userTicket},
            </if>
            <if test="userMoney != null">
                data.user_money = #{userMoney},
            </if>
            <if test="userCharList != null and userCharList != ''">
                data.user_char_list = #{userCharList},
            </if>
            <if test="userTicketTimer != null and userTicketTimer != ''">
                data.user_ticket_timer = #{userTicketTimer},
            </if>
            <if test="userSelectChar != null and userSelectChar != ''">
                data.user_select_char = #{userSelectChar}
            </if>
        </trim>
        WHERE
        data.userNo = #{userNo}
    </update>

    <update id="deductUserCoin" parameterType="com.teamalphano.zombieboom.dto.purchase.DeductAmountDto">
        UPDATE
            tb_user_data data
        SET
            data.user_money = #{amount}
        WHERE
            data.user_no = #{userNo}
    </update>
</mapper>
