<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teamalphano.zombieboom.mapper.user.UserDataMapper">

    <update id="updateUserDataAfterPurchase" parameterType="com.teamalphano.zombieboom.dto.user.UserBuyDto">
        UPDATE  tb_user_data data
        <set>
            <if test="ticket != null and ticket !=0">
                data.user_ticket = #{ticket},
            </if>
            <if test="coin != null and coin !=0 ">
                data.user_money = #{coin},
            </if>
            <if test="charList != null and charList != ''">
                data.user_char_list = #{charList},
            </if>
            <if test="uniqProdList != null and uniqProdList != ''">
                data.uniq_prod_list = #{uniqProdList},
            </if>
            <if test="timeTicketRange != null and timeTicketRange != ''">
                data.time_ticket_end_date =
                    CASE
                        WHEN data.time_ticket_end_date IS NULL THEN now() + CAST(#{timeTicketRange} AS TIME)
                        ELSE data.time_ticket_end_date + CAST(#{timeTicketRange} AS TIME)
                    END
            </if>
        </set>
        WHERE
            data.user_no = #{userNo}
    </update>

    <select id="getUserData" parameterType="Integer" resultType="com.teamalphano.zombieboom.dto.user.UserDataDto">
        SELECT
            data.user_no,
            data.user_money,
            data.user_ticket,
            data.user_char_list,
            data.uniq_prod_list,
            data.time_ticket_end_date
        FROM
            tb_user_data data
        WHERE
            data.user_no = #{userNo}
    </select>

    <update id="deductUserCoin" parameterType="com.teamalphano.zombieboom.dto.purchase.DeductAmountDto">
        UPDATE
            tb_user_data data
        SET
            data.user_money = #{amount}
        WHERE
            data.user_no = #{userNo}
    </update>

    <update id="updateUserData" parameterType="com.teamalphano.zombieboom.dto.user.UpdateUserDataDto">
        UPDATE
            tb_user_data data
        SET
            data.user_money = #{userMoney}
            , data.time_ticket_end_date = #{timeTicketEndDate}
            <if test="userTicket != null and userTicket !=''">
            , data.user_ticket = #{userTicket}
            </if>
            <if test="userSelectChar != null and userSelectChar != ''">
            , data.user_select_char = #{userSelectChar}
            </if>
        WHERE
            data.user_no = #{userNo}
    </update>

    <update id="updateUserTicket" parameterType="com.teamalphano.zombieboom.dto.user.UpdateTicketDto">
        UPDATE
            tb_user_data data
        SET
            data.user_ticket = #{ticketCount}
        WHERE
            data.user_no = #{userNo}
    </update>
</mapper>
